<%- include('./partials/header') %>

<nav id="home_navbar" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#targetNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="header_image" src="/images/home.png">
    </div>
    <div class="collapse navbar-collapse" id="#targetNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="header_text">HOME</a></li>
        <li><a href="/dashboard" class="header_text">DASHBOARD</a></li>
      </ul>
  </div>
</nav>

<br><br><br><br>

<div class="container-fluid hidden-xs col-sm-4">
  <div class="profile_div">
    <img class="profile_img" src="/images/Dannie.jpg">
    <div class="name_username">
      <h5>Daenerys StormBorn</h5>
      <p>@Dannie</p>
    </div>
    <br><br><br>
    <h4>Messages</h4>
    <h4 id="number12">12<h4>
  </div>

  <h2>Trending Awe Tweets</h2>

  <div class="tweet_list_div">
    <p>#Things</p>
    <p>#WinterIsComing</p>
    <p>#TrumpIsALump</p>
    <p>#FloepDieLoup</p>
    <p>#EllenGaveEverybodyAThing</p>
  </div>
</div>

<div class="container-fluid col-xs-12 col-sm-8">
  <form method='post'>

    <div class="form-group row">
      <input class="username_form col-xs-offset-2 col-xs-2" name="name"type="text" placeholder="username">
    </div>

    <div class="form-group row message_div">
      <textarea class="message_form col-xs-10" name="message" rows="5" maxlength="255" placeholder="Write message here"></textarea>
    </div>

    <div class="row">
      <br>
      <input class="col-xs-offset-9 btn btn-primary" type="submit" name="submit" Value="Submit">
    </div>
  </form>
</div>

<div class="container-fluid col-xs-12 col-sm-8">
  <div class="form-group row">
    <% for (let i=0; i < names.length; i++) { %>
      <div class="tweet_div">
        <div class="birdie_div">
          <img class="birdie" src="/images/birdie.jpg">
        </div>
      <h6> <%= names[i] %> </h6>
      <p> <%= messages[i] %> </p>
      </div>
    <% } %>
  </div>
</div>

<%- include('./partials/footer') %>
