<%- include('./partials/header') %>

<nav id="home_navbar" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="header_image" src="/images/home.png">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" class="header_text">HOME</a></li>
      <li><a href="/dashboard" class="header_text">DASHBOARD</a></li>
    </ul>
  </div>
</nav>

<br><br><br><br>

<div class="container-fluid home">
 <h1 class="awesome_text">Awesome Tweets<h1>
</div>

<%- include('./partials/footer') %>
